.navbar {
  /* height: 80px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  /* margin-left: 2rem; */
  font-size: 2rem;
  background: red;
}

.nav-menu {
  background-color: yellow;
  /* width: 250px;
    height: 100vh; */
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: yellowgreen;
  width: 100%;
  /* height: 80px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
